<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="form-group form">
        <form>
            <div>
                <label for="">UserName</label>
                <input type="text" name="staffId" id="staffId" placeholder="Username">
            </div>
            <div>
                <label for="">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <!--<button id="loginButton">Login</button>-->
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>