
    header{
        background: #78678f;
        color:#ffffff;
        padding-top:30px;
        border-bottom:#e8491d 3px solid ;
        
        
    }

    h1{
    color: black; 
    }
    .navigation{
        font-style: normal;
        text-decoration:none;
        text-transform:uppercase;
        color:#ffffff;
        float:left;
        background:cornflowerblue;
        height:600px;

    }
    body{
        background-repeat: no-repeat;
        
    }

    footer{
        margin:45%;
        background-color: azure;
    }
    a:hover{
        background:#000000;   
        font-size: 15px;
        font-style: italic;
    }
    body-form{
        padding:2px;
        border-color: #78678f;
    }