.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 18s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 15px;
  text-align: center;
  color: White;
}

.App-title {
  font-size: 1.4em;
}

.App-intro {
  height: 15px;
  padding: 10px;
  font-size: large;
}
.App-body {
    background-color: darkslategrey;
    height: 300px;
    padding: 10px;
    font-size: medium;
}
.App-footer {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: LightSteelBlue;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
